<ion-header>
  <ion-navbar>
    <ion-title>
      HOME
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <label for="nama">nama</label>
  <br>
  <ion-input placeholder='nama...' #nama></ion-input>
  <br>
  <label for="umur">umur</label>
  <br>
  <ion-input placeholder='umur...' #umur></ion-input>
  <br>
  <button  ion-button (click) ="onButtonClicked(nama.value,umur.value)" > got to next page </button>

</ion-content>
